.main-menu {
  display: none;
}

.mainmenu {
  display: none;
}

.right-reservedabout {
  display: flex;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  color: rgb(246 243 243);
  background-color: #363333;
}
