@media screen and (min-width: 768px) {
  .main-menu {
    padding: 9%;
    background-color: rgb(229, 234, 234);
    background-image: url('../image/background/desktop-bg-fa2.png');
  }

  .name,
  .btn-join {
    display: none;
  }

  .menu-desk {
    background-color: rgb(12, 80, 139);
  }

  .menu-link {
    display: flex;
    gap: 43px;
    justify-content: space-between;
    padding-top: 40px;
    text-decoration: none;
    background-color: hsl(240deg 7% 97%);
    padding-right: 10px;
    padding-left: 75px;
  }

  .menu-link a {
    text-decoration: none;
  }

  .ict-logo {
    width: 147px;
    height: 50px;
  }

  .about {
    color: brown;
    text-decoration: none;
  }

  .campaign {
    border: 3px solid red;
    color: red;
    text-decoration: none;
    padding: 5px;
  }

  .hello {
    font-size: 40px;
    text-align: start;
  }

  .program {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
  }

  .programes {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .the-wole {
    display: flex;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    text-decoration: none;
    justify-content: center;
  }

  .see-the {
    color: azure;
  }

  .program-sect {
    height: 530px;
  }

  .last-exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .featurs {
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
    gap: 10px;
  }

  .home {
    padding-top: 61px;
    padding-bottom: 4rem;
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  .home p {
    padding: 25px;
  }

  .more {
    display: none;
  }

  .parteners-img {
    display: flex;
    justify-content: center;
  }

  .nav-bar {
    display: flex;
    justify-content: end;
    height: 5%;
    background-color: #272a31;
    color: #fff;
    padding-right: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
  }

  .over-nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 30px;
  }

  .over-nav-items ul a {
    color: #fff;
    text-decoration: none;
    text-decoration-color: aliceblue;
  }

  .menu-links {
    display: flex;
    gap: 43px;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 75px;
    align-items: center;
  }

  .menu-links :hover {
    background-color: red;
    color: #fff;
    border: 4px  rgb(16, 16, 15);
    font-size: larger;
  }

  .navitems {
    color: #fff;
  }

  .menuback {
    display: none;
  }
}
