@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: hsl(240deg 7% 97%);
}

.name {
  display: flex;
  position: fixed;
}

p {
  text-align: center;
  padding-bottom: 10px;
}

.hellow-section {
  padding-top: 51px;
  padding-left: 20px;
  padding-right: 20px;
}

.hellow-section p {
  text-align: start;
}

h2 {
  text-align: center;
  font-size: 32px;
  padding: 10px;
}

.ethio {
  font-family: 'COCOGOOSE', sans-serif;
}

.hello {
  font-size: 25px;
  color: #ec5242;
  padding-bottom: 20px;
  font-family: 'COCOGOOSE', sans-serif;
}

.main-menu h1 {
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin: 1rem;
  background-image: url('/image/text_back.png');
  background-size: 150% 100%;
  color: transparent;
  -webkit-background-clip: text;
}

.body-1 {
  padding: 20px;
  border: 3px solid rgb(246, 243, 243);
}

.date {
  padding-top: 10px;
  color: var(--primary);
  font-size: 40px;
}

.featur-section {
  padding: 10px;
}

.feature-img {
  width: 191px;
  height: 151px;
}

.feature {
  display: flex;
  gap: 8px;
}

.feature p {
  color: #ec5242;
  text-align: start;
}

.image-person {
  position: relative;
  margin-top: -60px;
  margin-left: 17px;
  height: 130px;
  width: 173px;
}

.image-icon {
  height: 70px;
  width: 60px;
}

.more {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.program-sect {
  background-image: url(/image/prog-bg-04.png);
}

.program {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
  color: aliceblue;
}

.home {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 10px;
  text-align: center;
}

.home h1 {
  color: #ec5242;
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 52px;
  margin-top: 11px;
}

.home h2 {
  color: #ec5242;
  font-size: 32px;
}

.home p {
  padding: 14px;
  border: 1px solid #e7e6e6;
  background-color: #fff;
  justify-items: center;
}

.programes {
  display: flex;
  background-color: rgba(97, 92, 92, 0.8);
  color: hsl(240deg 6% 87%);
  align-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 10px 10px 10px;
}

.prog-head {
  color: rgb(228, 69, 21);
}

.btn-join {
  margin-left: 50px;
  padding: 20px;
  background-color: #ec5242;
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
}

.first-exp img,
.sec-exp img {
  width: 90%;
  height: 250px;
  filter: invert(17%) sepia(96%) saturate(1362%) hue-rotate(10deg) brightness(45%) contrast(79%);
}

.first-exp {
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
}

.line {
  width: 5rem;
  height: 3px;
  background-color: red;
  margin: 1.5rem auto;
}

.line-feature {
  width: 3rem;
  height: 3px;
  background-color: rgb(69, 64, 64);
  margin-top: 10px;
  margin-bottom: 10px;
}

.line-2 {
  width: 2rem;
  height: 3px;
  float: left;
  background: rgb(233, 14, 14);
  margin: 6px auto;
}

.partner-head {
  font-size: 38px;
  color: beige;
}

.partners {
  background-color: #4b4a4a;
  text-align: center;
  height: 362px;
}

.right-reserved {
  display: flex;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  justify-content: space-around;
  color: #272a31;
  align-items: center;
}

.ict-logo {
  width: 60%;
  height: 70%;
}

.img-part {
  width: 134px;
  height: 113px;
}

.logo-2015 {
  width: 247px;
  height: 100px;
}

.expo-eth {
  text-align: center;
}

.expo-eth img {
  border: 3px solid #e7e6e6;
}

.menu-link {
  display: none;
}

.mainprogeram {
  color: white;
}

.last-exp {
  display: flex;
  flex-direction: column;
}

.close-value {
  margin-left: 300px;
  padding-top: 66px;
  font-size: 1.2rem;
  color: white;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 28px;
}

.menu-content-list {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none;
}

.menu-back {
  /* background-color: aqua; */
  display: none;
}

.menuback {
  position: relative;
  background-color: #f96c06db;
  mix-blend-mode: multiply;
  height: 812px;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
}

.the-wole {
  display: none;
}

.nav-bar,
.over-nav-items {
  display: none;
}

p:hover {
  border-color: rgb(248, 84, 8);
  color: black;
}

.parteners-img {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}
